div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#d1{
    color: blue;
}

.c1{
    color: green;
}

#external{
    font-family: cursive;
}

#visit:link { color: blue; }
#visit:visited { color: black; }
#visit:hover { color: red; }
#visit:active { color: green; }