:root{
    --primary-color : #088395;
    --secondary-color : #EBF4F6;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#d1{
    color: blue;
}

.c1{
    color: green;
}

#external{
    font-family: cursive;
}

#visit:link { color: blue; }
#visit:visited { color: black; }
#visit:hover { color: red; }
#visit:active { color: green; }

table{
    border-style: groove;
    border-width: 2cap;
    border-color: #7AB2B2;
    border-spacing: 20px;
    /* width: auto;  */
    overflow: scroll;
}

#fixedBtn{
    background-color: var(--secondary-color); 
    width: 110px; 
    padding: 10px; 
    position: fixed; 
    bottom: 30px; 
    right: 30px;
}

.bd{
    border: 2px solid #EBF4F6;
}

/* tr:nth-child(even){
    background-color: #7AB2B2;
} */

th,td{
    height: auto;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}
th,td:hover{
    background-color: #EBF4F6;
    color: #088395;
}