*{
    font-family: 'Times New Roman', Times, serif;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#d1{
    color: blue;
}

.c1{
    color: green;
}

#external{
    font-family: cursive;
}